<html>
<head>
    <title>SeuBlog</title>
</head>
    <body>
        <div>
            <h1><a href="/">SeuBlog</a></h1>
        </div>

        <div>
            <p>publicado: 31.08.2019, 11:50</p>
            <h2><a href="/">Primeiro Post - Manual de Análise de Dados</a></h2>
            <h3>Estatística Aplicada</h3>
            <p>
                A origem da estatística remonta a tempos antigos, em que vários povos já
                coletavam e registravam <em>dados censitários</em> para eventual tomada de decisão.
                Também eram realizadas <em>estimativas</em> das riquezas individuais e familiares, e
                cálculos de arrecadação de impostos eram feitos com base nas informações
                obtidas. A própria <strong>Bíblia</strong> traz informações estatísticas sobre a evolução ou
                involução territorial de diversos povos.
            </p>
            <br>
        </div>

        <div>
            <p>publicado: 01.09.2019, 12:00</p>
            <h2><a href="/">Segundo Post - A População Idosa e o Uso de Serviços de Saúde</a></h2>
            <p>Objetivos: Traçar um panorama do impacto do envelhecimento populacional sobre o uso de serviços de saúde, conhecer modelos de práticas geriátricas e apresentar a experiência internacional e brasileira com um instrumento para hierarquizar e organizar a demanda de indivíduos idosos por serviços de saúde. (Mariângela Perez, 2008)</p>
        </div>
    </body>
</html>